@import "./variables.scss";

.d-flx{
    display: flex;
}

.Card-C{
    text-align: center;
}

.centerCont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listasnn{
    list-style: none;
}
